body, #container {
    margin: 0;
    background-color: #2196F3
}
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
main {
    padding: 20px
}
html,
body 
{
     height: 100%;
}

#settings {
    background: lightgray;
    display: none;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
    /*background: black;
    color: white;*/
    width: 100%;
}

.setting-button {
    height: 40px;
    margin: 12px;
    right: 10px;
    position: absolute;
    bottom: 10px;
}

.close-settings-button {
    right: 10px;
    position: absolute;
    bottom: 10px;
}

#settings .radios .title {
    margin: 5px;
    vertical-align: -webkit-baseline-middle;
}

#settings .ui-radio .flag-icon {
    vertical-align: super;
}

.flag-icon {
    width: 25px;
    height: 25px;
}

#container {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
}

.character {
    border: 2px solid white;
    display: block;
    float: left;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    border-radius: 45px;
    width: 62px;
    height: 62px;
    margin: 7px;
    background: #008000;
    color: white;
    font-size: 27px;
    text-align: center;
    vertical-align: middle;
    line-height: 61px;
}

.character:hover {
    background: #000000;
    border: 2px solid #FF0000;
}

body.en-us .character {
    background: #1022ff;
}

body.en-us .character:hover {
    background: #2469ff;
}

body.pt-br .character {
    background: #008000;
}

body.pt-br .character:hover {
    background: #73bc36;
}

body.es-es .character {
    background: #ff2500;
}

body.es-es .character:hover {
    background: #ff9202;
}
