#caption-wrapper {
  float: right;
  width: 134px;
  margin: 0;
  padding: 0;
  position: relative;
}

#picture .caption {
  margin-top: 18px;
  display: block;
}

#picture .picture-wrapper {
  margin-top: 0;
  max-width: 435px;
}

#picture .caption-wrapper {
  float: right;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 1px;
  width: 146px;
  text-align: left;
}

#picture .big-letter {
  display: block;
  width: 130px;
  font-size: 145px;
  margin: 0 auto;
  color: #FFFFFF;
  line-height: 170px;
  text-align: center;
}
