#main .inner {
  width: 90%;
  margin: 0 50px;
}

#main .logo {
  width: 50%;
  float: left;
  padding-top: 20px;
  padding-right: 20px;
}

#main .ui-link:first-child {
  margin-top: 100px;
}

#picture .caption {
  margin-top: -15px;
  display: block;
}

#picture .picture-wrapper {
  margin-top: 0;
  max-width: 435px;
}

#picture .caption-wrapper {
  float: right;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 1px;
  width: 146px;
  text-align: left;
}

#picture .big-letter {
  display: block;
  width: 130px;
  font-size: 145px;
  margin: 0 auto;
  color: #FFFFFF;
  line-height: 170px;
  text-align: center;
}

.setting-button {
  bottom: 10px;
}

#picture .ui-btn {
  right: 45px;
}
